@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: #0a6789;
    border-bottom: 6px solid #fecd23;
}

.container-flex {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 120px;
}

nav ul {
    display: flex;
}


nav ul li {
    list-style: none;
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #fecd23;
    font-size: 1.3rem;
    text-transform: uppercase;
}

nav ul li:hover {
    transform: scale(1.1);
}

.sobre-nos,
.produtos {
    margin: 3rem auto 0 auto;
}

.sobre-nos h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.sobre-nos h2::after,
.produtos h2::after {
    content: " ";
    display: block;
    width: 5rem;
    height: 0.25rem;
    background-color: #fecd23;
}

.sobre-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre-img {
    width: 48%;
}

.sobre-img img {
    max-width: 100%;
    border-radius: 10px;
}

.sobre-texto {
    padding: 1rem;
    width: 48%;
}

.sobre-texto p {
    margin-bottom: 1rem;
    font-weight: bold;
}

.produtos h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
}

.produtos-box {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    column-gap: 2.5%;
    row-gap: 4%;
    margin-bottom: 0.8rem;
}

.card-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    border: none;
    padding: 1rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .212);
    border-radius: 10px;
}

.card-produto:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-produto img {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.titulo-filme {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
}

.titulo-filme h3 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
}

.card-produto button {
    padding: 0.5rem 0;
    display: block;
    width: 50%;
    margin: 1rem auto 0 auto;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #0a6789;
    color: white;
}

.card-produto button:hover {
    background-color: #0aabba;
}

footer {
    background-color: #0a6789;
    color: #ecf0f1;
    padding: 16px 0;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    border-top: 6px solid #fecd23;
    width: 100%;
}



@media screen and (min-width: 641px) and (max-width: 1023px) {

    .sobre-nos,
    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-box,
    .sobre-img,
    .sobre-texto,
    .produtos-box {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .produtos-box {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 4%;
        row-gap: 4%;
        padding: 0;
    }

    #div {
        height: 20vh;
    }

}

@media screen and (max-width: 640px) {

    .container-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 0.7rem;
    }

    nav ul li {
        margin: 0 auto;
    }

    nav ul li a {
        font-size: 0.9rem;
    }

    .sobre-nos,
    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-box,
    .sobre-img,
    .sobre-texto,
    .produtos-box {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .produtos-box {
        display: block;
    }

    .card-produto {
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .sobre-texto p {
        font-size: 0.7rem;
    }

    .sobre-nos h2,
    .produtos h2 {
        font-size: 1rem;
    }

    .titulo-filme h3 {
        font-size: 0.8rem;
    }

    .card-produto button {
        font-size: 0.8rem;
    }

}